<% content_for :slider do %>
  <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
    <div class="slider-parallax-inner">
      <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
          <div class="swiper-slide dark slide-background-first">
            <div class="container clearfix">
              <div class="slider-caption slider-caption-center">
                <h2 data-animate="fadeInUp">Welcome to Lorem Ipsum</h2>
                <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on your own Canvas.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide slide-background-second">
            <div class="container clearfix">
              <div class="slider-caption">
                <h2 data-animate="fadeInUp">Great Performance</h2>
                <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
      </div>
      <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
    </div>
  </section>
<% end %>

<div class="container clearfix">
  <div class="row clearfix">

    <div class="col-xl-5">
      <div class="heading-block topmargin">
        <h2>Welcome to Lorem Ipsum.</h2>
      </div>
      <p class="lead">Create a website that you are gonna be proud of. Be it Business, Portfolio, Agency, Photography, eCommerce &amp; much more.</p>
    </div>

    <div class="col-xl-7 topmargin">
      <div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-xl="426" data-height-lg="567" data-height-md="470" data-height-md="287" data-height-xs="183">
        <%= image_tag("services/main-fbrowser.png", alt: "Logo", style: "position: absolute; top: 0; left: 0;", data: { animate: "fadeInUp", delay: "100" }) %>
        <%= image_tag("services/main-fmobile.png", alt: "iPad", style: "position: absolute; top: 0; left: 0;", data: { animate: "fadeInUp", delay: "400" }) %>
      </div>
    </div>
  </div>
</div>

<div class="section nobottommargin">
  <div class="container clear-bottommargin clearfix">
    <div class="row topmargin-sm clearfix">
      <div class="col-lg-4 bottommargin">
        <i class="i-plain color i-large icon-line2-screen-desktop inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">Scalable on Devices</span>
          <h4>Web Application</h4>
        </div>
        <p>Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.</p>
      </div>

      <div class="col-lg-4 bottommargin">
        <i class="i-plain color i-large icon-phone1 inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">Smartly Coded &amp; Maintained.</span>
          <h4>Mobile Application</h4>
        </div>
        <p>Medecins du Monde Jane Addams reduce child mortality challenges Ford Foundation. Diversification shifting landscape advocate pathway to a better life rights international. Assessment.</p>
      </div>

      <div class="col-lg-4 bottommargin">
        <i class="i-plain color i-large icon-line2-equalizer inline-block" style="margin-bottom: 15px;"></i>
        <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
          <span class="before-heading">Flexible &amp; Customizable.</span>
          <h4>Internet of Things</h4>
        </div>
        <p>Democracy inspire breakthroughs, Rosa Parks; inspiration raise awareness natural resources. Governance impact; transformative donation philanthropy, respect reproductive.</p>
      </div>
    </div>
  </div>
</div>

<div class="container clearfix">
  <div class="heading-block topmargin-lg center">
    <h2>Mobile Application</h2>
    <span class="divcenter">
      Are You Looking For The Best Solution For Your Business?
    </span>
  </div>

  <div class="row bottommargin-sm">

    <div class="col-lg-4 col-md-6 bottommargin">

      <div class="feature-box fbox-right topmargin" data-animate="fadeIn">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-heart"></i></a>
        </div>
        <h4>Cross-platform apps that are compatible with multiple mobile operating systems</h4>
      </div>

      <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-paper"></i></a>
        </div>
        <h4>Huge saving of time and money with no compromise on quality</h4>
      </div>

      <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="400">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-layers"></i></a>
        </div>
        <h4>Innovative mobile app development that generate entirely new business models and user experiences</h4>
      </div>

    </div>

    <div class="col-lg-4 d-md-none d-lg-block bottommargin center">
      <%= image_tag("services/iphone7.png", alt: "mobile application") %>
    </div>

    <div class="col-lg-4 col-md-6 bottommargin">
      <div class="feature-box topmargin" data-animate="fadeIn">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-power"></i></a>
        </div>
        <h4>Technical ability and infrastructure to cater to almost all types of mobile apps</h4>
      </div>

      <div class="feature-box topmargin" data-animate="fadeIn" data-delay="100">
        <div class="fbox-icon">
          <a href="#"><i class="icon-line-check"></i></a>
        </div>
        <h4>Premium Quality Apps designed to meet your requirements</h4>
      </div>

      <div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
        <div class="fbox-icon">
          <a href="#"><i class="icon-bulb"></i></a>
        </div>
        <h4>Upgrade apps with the changing platforms to gain maximum functionality and features</h4>
      </div>
    </div>
  </div>
</div>

<!-- Start: Web Application. -->
<div class="section">
  <div class="container clearfix">
    <div class="heading-block center">
      <h2>Web Application</h2>
      <span>We are here to build your next web application.</span>
    </div>

    <div class="col_full">
      <%= image_tag("services/macbook.png", alt: "web application", class: "aligncenter") %>
    </div>

    <div class="col_one_fourth">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">1.</i></a>
        </div>
        <h3>Scalable</h3>
        <p>Scale the web app to handle traffic of any magnitude with zero downtime.</p>
      </div>
    </div>

    <div class="col_one_fourth">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">2.</i></a>
        </div>
        <h3>Responsive</h3>
        <p>Delivering an apt user experience regardless of screen size, and resolution.</p>
      </div>
    </div>
    
    <div class="col_one_fourth">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">3.</i></a>
        </div>
        <h3>Rapid</h3>
        <p>A minimalistic setup means a website loads at the click of a mouse.</p>
      </div>
    </div>

    <div class="col_one_fourth col_last">
      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">4.</i></a>
        </div>
        <h3>Secure</h3>
        <p>A team of security experts secure websites remains secure against cyber attacks.</p>
      </div>
    </div>
  </div>
</div>
<!-- End: Web Application. -->

<!-- Start: Latest from the Blog -->
<div class="container clearfix">
  <div class="heading-block center">
    <h3>Latest from the Blog</h3>
  </div>
</div>

<div class="container clear-bottommargin clearfix">
  <div class="row">
    <div class="col-lg-3 col-md-6 bottommargin">
      <div class="ipost clearfix">
        <div class="entry-image">
          <a href="#"><%= image_tag("magazine/thumb/1.jpg", alt: "web application", class: "image_fade") %></a>
        </div>
        <div class="entry-title">
          <h3><a href="blog-single.html">Bloomberg smart cities; change-makers economic security</a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i> 13th Jun 2014</li>
          <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 53</a></li>
        </ul>
        <div class="entry-content">
          <p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 bottommargin">
      <div class="ipost clearfix">
        <div class="entry-image">
          <a href="#"><%= image_tag("magazine/thumb/2.jpg", alt: "web application", class: "image_fade") %></a>
        </div>
        <div class="entry-title">
          <h3><a href="blog-single.html">Medicine new approaches communities, outcomes partnership</a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i> 24th Feb 2014</li>
          <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 17</a></li>
        </ul>
        <div class="entry-content">
          <p>Cross-agency coordination clean water rural, promising development turmoil inclusive education transformative community.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 bottommargin">
      <div class="ipost clearfix">
        <div class="entry-image">
          <a href="#"><%= image_tag("magazine/thumb/3.jpg", alt: "web application", class: "image_fade") %></a>
        </div>
        <div class="entry-title">
          <h3><a href="blog-single.html">Significant altruism planned giving insurmountable challenges liberal</a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i> 30th Dec 2014</li>
          <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
        </ul>
        <div class="entry-content">
          <p>Micro-finance; vaccines peaceful contribution citizens of change generosity. Measures design thinking accelerate progress medical initiative.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 bottommargin">
      <div class="ipost clearfix">
        <div class="entry-image">
          <a href="#"><%= image_tag("magazine/thumb/4.jpg", alt: "web application", class: "image_fade") %></a>
        </div>
        <div class="entry-title">
          <h3><a href="blog-single.html">Compassion conflict resolution, progressive; tackle</a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i> 15th Jan 2014</li>
          <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 54</a></li>
        </ul>
        <div class="entry-content">
          <p>Community health workers best practices, effectiveness meaningful work The Elders fairness. Our ambitions local solutions globalization.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Latest from the Blog -->

<!-- Start: Meet Our Team -->
<div class="section footer-stick">
  <div class="container clearfix">

    <div class="heading-block topmargin-sm center">
      <h3>Meet Our Team</h3>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 bottommargin">
        <div class="team">
          <div class="team-image">
            <%= image_tag("team/3.jpg", alt: "CEO") %>
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 bottommargin">
        <div class="team">
          <div class="team-image">
            <%= image_tag("team/2.jpg", alt: "CEO") %>
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 bottommargin">
        <div class="team">
          <div class="team-image">
            <%= image_tag("team/8.jpg", alt: "CEO") %>
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 bottommargin">
        <div class="team">
          <div class="team-image">
            <%= image_tag("team/4.jpg", alt: "CEO") %>
          </div>
          <div class="team-desc team-desc-bg">
            <div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Meet Our Team -->
