<% content_for :slider do %>
  <!-- Page Title
  ============================================= -->
  <section id="page-title" class="page-title-parallax page-title-dark service-slider-background" style="padding: 250px 0" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">
    <div class="container clearfix">
      <h1>Services</h1>
      <span>We provide Amazing Solutions</span>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Services</li>
      </ol>
    </div>
  </section><!-- #page-title end -->
<% end %>

<!-- Start: Why choose us / our mission / what we do -->
<div class="container clearfix">

  <div class="col_one_third">

    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4>Why choose <span>Us</span>.</h4>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

  </div>

  <div class="col_one_third">

    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4>Our <span>Mission</span>.</h4>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

  </div>

  <div class="col_one_third col_last">

    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4>What we <span>Do</span>.</h4>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

  </div>

</div>
<!-- End: Why choose us / our mission / what we do -->

<div class="section">

  <div class="container clearfix">

    <div class="heading-block center">
      <h2>Software Development Lifecycle</h2>
    </div>

    <!-- Start: Steps -->
    <div class="col_full">
      <div id="processTabs">
        <ul class="process-steps process-5 clearfix">
          <li>
            <a href="#" class="i-bordered i-circled divcenter">1</a>
            <h5>Consulting</h5>
          </li>
          <li>
            <a href="#" class="i-bordered i-circled divcenter">2</a>
            <h5>Designing</h5>
          </li>
          <li>
            <a href="#" class="i-bordered i-circled divcenter">3</a>
            <h5>Developing</h5>
          </li>
          <li>
            <a href="#" class="i-bordered i-circled divcenter">4</a>
            <h5>Testing</h5>
          </li>
          <li>
            <a href="#" class="i-bordered i-circled divcenter">5</a>
            <h5>Maintaining</h5>
          </li>
        </ul>
      </div>
    </div>
    <!-- End: Steps -->

    <div class="clear"></div>

    <div class="col_one_third topmargin">

      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">1.</i></a>
        </div>
        <h3>Consulting.</h3>
        <p>Perferendis, nam. Eum aperiam vel animi beatae corporis dignissimos, molestias, placeat, maxime optio ipsam nostrum atque quidem.</p>
      </div>

    </div>

    <div class="col_one_third topmargin">

      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">2.</i></a>
        </div>
        <h3>Designing.</h3>
        <p>Saepe qui enim at animi. Repellendus, blanditiis doloremque asperiores reprehenderit deleniti. Ipsam nam accusantium ex!</p>
      </div>

    </div>

    <div class="col_one_third topmargin col_last">

      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">3.</i></a>
        </div>
        <h3>Developing.</h3>
        <p>Necessitatibus accusamus, inventore atque commodi, animi architecto ea sed, suscipit tempora ex deleniti quae. Consectetur, sint velit.</p>
      </div>

    </div>

    <div class="clear"></div>

    <div class="col_one_third topmargin nobottommargin">

      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">4.</i></a>
        </div>
        <h3>Testing.</h3>
        <p>Perferendis, nam. Eum aperiam vel animi beatae corporis dignissimos, molestias, placeat, maxime optio ipsam nostrum atque quidem.</p>
      </div>

    </div>

    <div class="col_one_third topmargin nobottommargin">

      <div class="feature-box fbox-plain">
        <div class="fbox-icon">
          <a href="#"><i class="i-alt">5.</i></a>
        </div>
        <h3>Maintaining.</h3>
        <p>Saepe qui enim at animi. Repellendus, blanditiis doloremque asperiores reprehenderit deleniti. Ipsam nam accusantium ex!</p>
      </div>

    </div>

  </div>

</div>

<div class="container clearfix">

  <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
    <%= image_tag("services/iphone.png", alt: "web application") %>
  </div>

  <div class="col_three_fifth nobottommargin col_last">

    <div class="heading-block">
      <h3>Powerful insights to help grow your business.</h3>
      <span>Reports let you easily track and analyze your product sales, orders, and payments.</span>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

    <a href="#">Learn more &rarr;</a>

  </div>

  <div class="clear"></div><div class="line"></div>

  <div class="col_three_fifth">

    <div class="heading-block">
      <h3>Advanced store statistics.</h3>
      <span>Benchmarking your website's performance helps you make great choices for your business.</span>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

    <a href="#">Learn more &rarr;</a>

  </div>

  <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
    <%= image_tag("services/imac2.png", alt: "web application", class: "aligncenter") %>
  </div>

</div>

<div class="container clearfix">

  <div class="clear"></div>

    <div class="heading-block center">
      <h4>Our Clients</h4>
    </div>

    <ul class="clients-grid grid-6 nobottommargin clearfix">
      <li><a href="http://logofury.com/logo/enzo.html"><%= image_tag("clients/1.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com"><%= image_tag("clients/2.png", alt: "Clients") %></a></li>
      <li><a href="http://logofaves.com/2014/03/grabbt/"><%= image_tag("clients/3.png", alt: "Clients") %></a></li>
      <li><a href="http://logofaves.com/2014/01/ladera-granola/"><%= image_tag("clients/4.png", alt: "Clients") %></a></li>
      <li><a href="http://logofaves.com/2014/02/hershel-farms/"><%= image_tag("clients/5.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com/logo/food-fight-radio.html"><%= image_tag("clients/6.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com"><%= image_tag("clients/6.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com/logo/up-travel.html"><%= image_tag("clients/7.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com/logo/caffi-bardi.html"><%= image_tag("clients/8.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com/logo/bignix-design.html"><%= image_tag("clients/10.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com/"><%= image_tag("clients/11.png", alt: "Clients") %></a></li>
      <li><a href="http://logofury.com/"><%= image_tag("clients/12.png", alt: "Clients") %></a></li>
    </ul>

  </div>

  <div class="section footer-stick">
    <h4 class="uppercase center">What <span>Clients</span> Say?</h4>
    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
      <div class="flexslider">
        <div class="slider-wrap">
          <div class="slide">
            <div class="testi-image">
              <a href="#"><%= image_tag("testimonials/3.jpg", alt: "Customer Testimonails") %></a>
            </div>
            <div class="testi-content">
              <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
              <div class="testi-meta">
                Steve Jobs
                <span>Apple Inc.</span>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="testi-image">
              <a href="#"><%= image_tag("testimonials/2.jpg", alt: "Customer Testimonails") %></a>
            </div>
            <div class="testi-content">
              <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
              <div class="testi-meta">
                Collis Ta'eed
                <span>Envato Inc.</span>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="testi-image">
              <a href="#"><%= image_tag("testimonials/1.jpg", alt: "Customer Testimonails") %></a>
            </div>
            <div class="testi-content">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
              <div class="testi-meta">
                John Doe
                <span>XYZ Inc.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
