<% content_for :slider do %>
  <section id="page-title">

    <div class="container clearfix">
      <h1>Blogs</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
      </ol>
    </div>

  </section><!-- #page-title end -->
<% end %>

<div class="container clearfix">
  <!-- Post Content
  ============================================= -->
  <div class="postcontent nobottommargin clearfix">

    <!-- Posts
    ============================================= -->
    <div id="posts">

      <div class="entry clearfix">
        <div class="entry-image">
          <%= link_to image_tag("blog/full/17.jpg", class: "image_fade", alt: "Post"), blog_path(1) %>
        </div>
        <div class="entry-title">
          <h2><%= link_to "This is a Standard post with a Preview Image", blog_path(1) %></h2>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i> 10th February 2014</li>
          <li><a href="#"><i class="icon-user"></i> admin</a></li>
          <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
          <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13 Comments</a></li>
          <li><a href="#"><i class="icon-camera-retro"></i></a></li>
        </ul>
        <div class="entry-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.</p>
          <%= link_to "Read More", blog_path(1), class: "more-link" %>
        </div>
      </div>

      <div class="entry clearfix">
        <div class="entry-image">
          <iframe src="http://player.vimeo.com/video/87701971" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="entry-title">
          <h2><%= link_to "This is a Standard post with an Embedded Video", blog_path(1) %></h2>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-calendar3"></i> 16th February 2014</li>
          <li><a href="#"><i class="icon-user"></i> admin</a></li>
          <li><i class="icon-folder-open"></i> <a href="#">Videos</a>, <a href="#">News</a></li>
          <li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19 Comments</a></li>
          <li><a href="#"><i class="icon-film"></i></a></li>
        </ul>
        <div class="entry-content">
          <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis placeat quo unde reprehenderit eum facilis vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, reprehenderit!</p>
          <%= link_to "Read More", blog_path(1), class: "more-link" %>
        </div>
      </div>
    </div><!-- #posts end -->

    <!-- Pagination
    ============================================= -->
    <div class="row mb-3">
      <div class="col-12">
        <a href="#" class="btn btn-outline-secondary float-left">&larr; Older</a>
        <a href="#" class="btn btn-outline-dark float-right">Newer &rarr;</a>
      </div>
    </div>
    <!-- .pager end -->

  </div><!-- .postcontent end -->

  <!-- Sidebar
  ============================================= -->
  <div class="sidebar nobottommargin col_last clearfix">
    <div class="sidebar-widgets-wrap">

      <div class="widget clearfix">

        <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

          <ul class="tab-nav clearfix">
            <li><a href="#tabs-1">Popular</a></li>
            <li><a href="#tabs-2">Recent</a></li>
            <li><a href="#tabs-3"><i class="icon-comments-alt norightmargin"></i></a></li>
          </ul>

          <div class="tab-container">

            <div class="tab-content clearfix" id="tabs-1">
              <div id="popular-post-list-sidebar">

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("magazine/small/3.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li><i class="icon-comments-alt"></i> 35 Comments</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("magazine/small/2.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li><i class="icon-comments-alt"></i> 24 Comments</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("magazine/small/1.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li><i class="icon-comments-alt"></i> 19 Comments</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-content clearfix" id="tabs-2">
              <div id="recent-post-list-sidebar">

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("magazine/small/1.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("magazine/small/2.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("magazine/small/3.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-content clearfix" id="tabs-3">
              <div id="recent-post-list-sidebar">

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("icons/avatar.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <strong>John Doe:</strong> Veritatis recusandae sunt repellat distinctio...
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("icons/avatar.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <strong>Mary Jane:</strong> Possimus libero, earum officia architecto maiores....
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-image">
                    <%= link_to image_tag("icons/avatar.jpg", class: "rounded-circle", alt: "Post"), blog_path(1), class: "nobg" %>
                  </div>
                  <div class="entry-c">
                    <strong>Site Admin:</strong> Deleniti magni labore laboriosam odio...
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="widget clearfix">

        <h4>Tag Cloud</h4>
        <div class="tagcloud">
          <a href="#">general</a>
          <a href="#">videos</a>
          <a href="#">music</a>
          <a href="#">media</a>
          <a href="#">photography</a>
          <a href="#">parallax</a>
          <a href="#">ecommerce</a>
          <a href="#">terms</a>
          <a href="#">coupons</a>
          <a href="#">modern</a>
        </div>

      </div>

    </div>

  </div><!-- .sidebar end -->

</div>
